<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tansun.easycare.modules.credit.dao.people.RNRRecordSummaryMapper">
	<resultMap id="BaseResultMap"
		type="com.tansun.easycare.modules.credit.entity.people.RNRRecordSummary">
		<id column="RECORDSUMMARY_ID" jdbcType="VARCHAR" property="recordsummaryId" />
		<result column="REPORT_ID" jdbcType="VARCHAR" property="reportId" />
		<result column="QUERYREASON" jdbcType="VARCHAR" property="queryreason" />
		<result column="SUM" jdbcType="DECIMAL" property="sum" />
		<result column="TYPE" jdbcType="VARCHAR" property="type" />
		<result column="TIME_STAMP" jdbcType="TIMESTAMP" property="timeStamp" />
	</resultMap>
	<sql id="Base_Column_List">
		RECORDSUMMARY_ID, REPORT_ID, QUERYREASON, SUM, TYPE,
		TIME_STAMP
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from crawler.r_nr_recordsummary
		where RECORDSUMMARY_ID =
		#{recordsummaryId,jdbcType=VARCHAR}
	</select>
	<select id="selectByReportId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from crawler.r_nr_recordsummary
		where REPORT_ID= #{reportId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		crawler.r_nr_recordsummary
		where RECORDSUMMARY_ID =
		#{recordsummaryId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.tansun.easycare.modules.credit.entity.people.RNRRecordSummary">
		<selectKey order="BEFORE" resultType="String" keyProperty="recordsummaryId">
			select UUID()
		</selectKey>
		insert into crawler.r_nr_RECORDSUMMARY (RECORDSUMMARY_ID, REPORT_ID,
		QUERYREASON,
		SUM, TYPE, TIME_STAMP
		)
		values
		(#{recordsummaryId,jdbcType=VARCHAR}, #{reportId,jdbcType=VARCHAR},
		#{queryreason,jdbcType=VARCHAR},
		#{sum,jdbcType=DECIMAL},
		#{type,jdbcType=VARCHAR}, #{timeStamp,jdbcType=TIMESTAMP}
		)
	</insert>
	
	 <insert id="insertByBatch" parameterType="java.util.List">
	  insert into crawler.r_nr_RECORDSUMMARY (RECORDSUMMARY_ID, REPORT_ID,
		QUERYREASON,
		SUM, TYPE, TIME_STAMP
		)
	    values 
	    <foreach collection="list" item="item" index="index" separator=",">
		(#{item.recordsummaryId,jdbcType=VARCHAR}, #{item.reportId,jdbcType=VARCHAR},
		#{item.queryreason,jdbcType=VARCHAR},
		#{item.sum,jdbcType=DECIMAL},
		#{item.type,jdbcType=VARCHAR}, #{item.timeStamp,jdbcType=TIMESTAMP}
		)
	    </foreach>
  	</insert>
  	
	<insert id="insertSelective" parameterType="com.tansun.easycare.modules.credit.entity.people.RNRRecordSummary">
		insert into crawler.r_nr_RECORDSUMMARY
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="recordsummaryId != null">
				RECORDSUMMARY_ID,
			</if>
			<if test="reportId != null">
				REPORT_ID,
			</if>
			<if test="queryreason != null">
				QUERYREASON,
			</if>
			<if test="sum != null">
				SUM,
			</if>
			<if test="type != null">
				TYPE,
			</if>
			<if test="timeStamp != null">
				TIME_STAMP,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="recordsummaryId != null">
				#{recordsummaryId,jdbcType=VARCHAR},
			</if>
			<if test="reportId != null">
				#{reportId,jdbcType=VARCHAR},
			</if>
			<if test="queryreason != null">
				#{queryreason,jdbcType=VARCHAR},
			</if>
			<if test="sum != null">
				#{sum,jdbcType=DECIMAL},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="timeStamp != null">
				#{timeStamp,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.tansun.easycare.modules.credit.entity.people.RNRRecordSummary">
		update crawler.r_nr_RECORDSUMMARY
		<set>
			<if test="reportId != null">
				REPORT_ID = #{reportId,jdbcType=VARCHAR},
			</if>
			<if test="queryreason != null">
				QUERYREASON = #{queryreason,jdbcType=VARCHAR},
			</if>
			<if test="sum != null">
				SUM = #{sum,jdbcType=DECIMAL},
			</if>
			<if test="type != null">
				TYPE = #{type,jdbcType=VARCHAR},
			</if>
			<if test="timeStamp != null">
				TIME_STAMP = #{timeStamp,jdbcType=TIMESTAMP},
			</if>
		</set>
		where RECORDSUMMARY_ID = #{recordsummaryId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.tansun.easycare.modules.credit.entity.people.RNRRecordSummary">
		update
		crawler.r_nr_RECORDSUMMARY
		set REPORT_ID = #{reportId,jdbcType=VARCHAR},
		QUERYREASON = #{queryreason,jdbcType=VARCHAR},
		SUM =
		#{sum,jdbcType=DECIMAL},
		TYPE = #{type,jdbcType=VARCHAR},
		TIME_STAMP =
		#{timeStamp,jdbcType=TIMESTAMP}
		where RECORDSUMMARY_ID =
		#{recordsummaryId,jdbcType=VARCHAR}
	</update>
</mapper>