<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tansun.easycare.modules.credit.dao.people.RNrRepayinfoMapper" >
  <resultMap id="BaseResultMap" type="com.tansun.easycare.modules.credit.entity.people.RNrRepayinfo" >
    <id column="REPAYINFO_ID" property="repayinfoId" jdbcType="VARCHAR" />
    <result column="REPORT_ID" property="reportId" jdbcType="VARCHAR" />
    <result column="SUPER_ID" property="superId" jdbcType="VARCHAR" />
    <result column="STATEENDDATE" property="stateenddate" jdbcType="VARCHAR" />
    <result column="STATEENDMONTH" property="stateendmonth" jdbcType="VARCHAR" />
    <result column="SHARECREDITLIMITAMOUNT" property="sharecreditlimitamount" jdbcType="DECIMAL" />
    <result column="USEDCREDITLIMITAMOUNT" property="usedcreditlimitamount" jdbcType="DECIMAL" />
    <result column="LATEST6MONTHUSEDAVGAMOUNT" property="latest6monthusedavgamount" jdbcType="DECIMAL" />
    <result column="USEDHIGHESTAMOUNT" property="usedhighestamount" jdbcType="DECIMAL" />
    <result column="SCHEDULEDPAYMENTDATE" property="scheduledpaymentdate" jdbcType="VARCHAR" />
    <result column="SCHEDULEDPAYMENTAMOUNT" property="scheduledpaymentamount" jdbcType="DECIMAL" />
    <result column="ACTUALPAYMENTAMOUNT" property="actualpaymentamount" jdbcType="DECIMAL" />
    <result column="RECENTPAYDATE" property="recentpaydate" jdbcType="VARCHAR" />
    <result column="TIME_STAMP" property="timeStamp" jdbcType="DATE" />
    <result column="OVERDUEOVER180AMOUNT" property="overdueover180amount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    REPAYINFO_ID, REPORT_ID, SUPER_ID, STATEENDDATE, STATEENDMONTH, SHARECREDITLIMITAMOUNT, 
    USEDCREDITLIMITAMOUNT, LATEST6MONTHUSEDAVGAMOUNT, USEDHIGHESTAMOUNT, SCHEDULEDPAYMENTDATE, 
    SCHEDULEDPAYMENTAMOUNT, ACTUALPAYMENTAMOUNT, RECENTPAYDATE, TIME_STAMP, OVERDUEOVER180AMOUNT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from crawler.r_nr_repayinfo
    where REPAYINFO_ID = #{repayinfoId,jdbcType=VARCHAR}
  </select>
  <select id="selectByReportId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from crawler.r_nr_repayinfo
		where REPORT_ID= #{reportId,jdbcType=VARCHAR}
	</select>
  <select id="selectBySuperId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from crawler.r_nr_repayinfo
    where SUPER_ID = #{superId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from crawler.r_nr_repayinfo
    where REPAYINFO_ID = #{repayinfoId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tansun.easycare.modules.credit.entity.people.RNrRepayinfo" >
  <selectKey order="BEFORE" resultType="String" keyProperty="repayinfoId">
			select UUID()
		</selectKey>
    insert into crawler.r_nr_repayinfo (REPAYINFO_ID, REPORT_ID, SUPER_ID, 
      STATEENDDATE, STATEENDMONTH, SHARECREDITLIMITAMOUNT, 
      USEDCREDITLIMITAMOUNT, LATEST6MONTHUSEDAVGAMOUNT, 
      USEDHIGHESTAMOUNT, SCHEDULEDPAYMENTDATE, 
      SCHEDULEDPAYMENTAMOUNT, ACTUALPAYMENTAMOUNT, 
      RECENTPAYDATE, TIME_STAMP, OVERDUEOVER180AMOUNT
      )
    values (#{repayinfoId,jdbcType=VARCHAR}, #{reportId,jdbcType=VARCHAR}, #{superId,jdbcType=VARCHAR}, 
      #{stateenddate,jdbcType=VARCHAR}, #{stateendmonth,jdbcType=VARCHAR}, #{sharecreditlimitamount,jdbcType=DECIMAL}, 
      #{usedcreditlimitamount,jdbcType=DECIMAL}, #{latest6monthusedavgamount,jdbcType=DECIMAL}, 
      #{usedhighestamount,jdbcType=DECIMAL}, #{scheduledpaymentdate,jdbcType=VARCHAR}, 
      #{scheduledpaymentamount,jdbcType=DECIMAL}, #{actualpaymentamount,jdbcType=DECIMAL}, 
      #{recentpaydate,jdbcType=VARCHAR}, #{timeStamp,jdbcType=DATE}, #{overdueover180amount,jdbcType=DECIMAL}
      )
  </insert>
  
    <insert id="insertByBatch" parameterType="java.util.List">
	   insert into crawler.r_nr_repayinfo (REPAYINFO_ID, REPORT_ID, SUPER_ID, 
      STATEENDDATE, STATEENDMONTH, SHARECREDITLIMITAMOUNT, 
      USEDCREDITLIMITAMOUNT, LATEST6MONTHUSEDAVGAMOUNT, 
      USEDHIGHESTAMOUNT, SCHEDULEDPAYMENTDATE, 
      SCHEDULEDPAYMENTAMOUNT, ACTUALPAYMENTAMOUNT, 
      RECENTPAYDATE, TIME_STAMP, OVERDUEOVER180AMOUNT
      )
	    values 
	    <foreach collection="list" item="item" index="index" separator=",">
		 (#{item.repayinfoId,jdbcType=VARCHAR}, #{item.reportId,jdbcType=VARCHAR}, #{item.superId,jdbcType=VARCHAR}, 
      #{item.stateenddate,jdbcType=VARCHAR}, #{item.stateendmonth,jdbcType=VARCHAR}, #{item.sharecreditlimitamount,jdbcType=DECIMAL}, 
      #{item.usedcreditlimitamount,jdbcType=DECIMAL}, #{item.latest6monthusedavgamount,jdbcType=DECIMAL}, 
      #{item.usedhighestamount,jdbcType=DECIMAL}, #{item.scheduledpaymentdate,jdbcType=VARCHAR}, 
      #{item.scheduledpaymentamount,jdbcType=DECIMAL}, #{item.actualpaymentamount,jdbcType=DECIMAL}, 
      #{item.recentpaydate,jdbcType=VARCHAR}, #{item.timeStamp,jdbcType=DATE}, #{item.overdueover180amount,jdbcType=DECIMAL}
      )
	    </foreach>
  	</insert>
  	
  	
  <insert id="insertSelective" parameterType="com.tansun.easycare.modules.credit.entity.people.RNrRepayinfo" >
    insert into crawler.r_nr_repayinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="repayinfoId != null" >
        REPAYINFO_ID,
      </if>
      <if test="reportId != null" >
        REPORT_ID,
      </if>
      <if test="superId != null" >
        SUPER_ID,
      </if>
      <if test="stateenddate != null" >
        STATEENDDATE,
      </if>
      <if test="stateendmonth != null" >
        STATEENDMONTH,
      </if>
      <if test="sharecreditlimitamount != null" >
        SHARECREDITLIMITAMOUNT,
      </if>
      <if test="usedcreditlimitamount != null" >
        USEDCREDITLIMITAMOUNT,
      </if>
      <if test="latest6monthusedavgamount != null" >
        LATEST6MONTHUSEDAVGAMOUNT,
      </if>
      <if test="usedhighestamount != null" >
        USEDHIGHESTAMOUNT,
      </if>
      <if test="scheduledpaymentdate != null" >
        SCHEDULEDPAYMENTDATE,
      </if>
      <if test="scheduledpaymentamount != null" >
        SCHEDULEDPAYMENTAMOUNT,
      </if>
      <if test="actualpaymentamount != null" >
        ACTUALPAYMENTAMOUNT,
      </if>
      <if test="recentpaydate != null" >
        RECENTPAYDATE,
      </if>
      <if test="timeStamp != null" >
        TIME_STAMP,
      </if>
      <if test="overdueover180amount != null" >
        OVERDUEOVER180AMOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="repayinfoId != null" >
        #{repayinfoId,jdbcType=VARCHAR},
      </if>
      <if test="reportId != null" >
        #{reportId,jdbcType=VARCHAR},
      </if>
      <if test="superId != null" >
        #{superId,jdbcType=VARCHAR},
      </if>
      <if test="stateenddate != null" >
        #{stateenddate,jdbcType=VARCHAR},
      </if>
      <if test="stateendmonth != null" >
        #{stateendmonth,jdbcType=VARCHAR},
      </if>
      <if test="sharecreditlimitamount != null" >
        #{sharecreditlimitamount,jdbcType=DECIMAL},
      </if>
      <if test="usedcreditlimitamount != null" >
        #{usedcreditlimitamount,jdbcType=DECIMAL},
      </if>
      <if test="latest6monthusedavgamount != null" >
        #{latest6monthusedavgamount,jdbcType=DECIMAL},
      </if>
      <if test="usedhighestamount != null" >
        #{usedhighestamount,jdbcType=DECIMAL},
      </if>
      <if test="scheduledpaymentdate != null" >
        #{scheduledpaymentdate,jdbcType=VARCHAR},
      </if>
      <if test="scheduledpaymentamount != null" >
        #{scheduledpaymentamount,jdbcType=DECIMAL},
      </if>
      <if test="actualpaymentamount != null" >
        #{actualpaymentamount,jdbcType=DECIMAL},
      </if>
      <if test="recentpaydate != null" >
        #{recentpaydate,jdbcType=VARCHAR},
      </if>
      <if test="timeStamp != null" >
        #{timeStamp,jdbcType=DATE},
      </if>
      <if test="overdueover180amount != null" >
        #{overdueover180amount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tansun.easycare.modules.credit.entity.people.RNrRepayinfo" >
    update crawler.r_nr_repayinfo
    <set >
      <if test="reportId != null" >
        REPORT_ID = #{reportId,jdbcType=VARCHAR},
      </if>
      <if test="superId != null" >
        SUPER_ID = #{superId,jdbcType=VARCHAR},
      </if>
      <if test="stateenddate != null" >
        STATEENDDATE = #{stateenddate,jdbcType=VARCHAR},
      </if>
      <if test="stateendmonth != null" >
        STATEENDMONTH = #{stateendmonth,jdbcType=VARCHAR},
      </if>
      <if test="sharecreditlimitamount != null" >
        SHARECREDITLIMITAMOUNT = #{sharecreditlimitamount,jdbcType=DECIMAL},
      </if>
      <if test="usedcreditlimitamount != null" >
        USEDCREDITLIMITAMOUNT = #{usedcreditlimitamount,jdbcType=DECIMAL},
      </if>
      <if test="latest6monthusedavgamount != null" >
        LATEST6MONTHUSEDAVGAMOUNT = #{latest6monthusedavgamount,jdbcType=DECIMAL},
      </if>
      <if test="usedhighestamount != null" >
        USEDHIGHESTAMOUNT = #{usedhighestamount,jdbcType=DECIMAL},
      </if>
      <if test="scheduledpaymentdate != null" >
        SCHEDULEDPAYMENTDATE = #{scheduledpaymentdate,jdbcType=VARCHAR},
      </if>
      <if test="scheduledpaymentamount != null" >
        SCHEDULEDPAYMENTAMOUNT = #{scheduledpaymentamount,jdbcType=DECIMAL},
      </if>
      <if test="actualpaymentamount != null" >
        ACTUALPAYMENTAMOUNT = #{actualpaymentamount,jdbcType=DECIMAL},
      </if>
      <if test="recentpaydate != null" >
        RECENTPAYDATE = #{recentpaydate,jdbcType=VARCHAR},
      </if>
      <if test="timeStamp != null" >
        TIME_STAMP = #{timeStamp,jdbcType=DATE},
      </if>
      <if test="overdueover180amount != null" >
        OVERDUEOVER180AMOUNT = #{overdueover180amount,jdbcType=DECIMAL},
      </if>
    </set>
    where REPAYINFO_ID = #{repayinfoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tansun.easycare.modules.credit.entity.people.RNrRepayinfo" >
    update crawler.r_nr_repayinfo
    set REPORT_ID = #{reportId,jdbcType=VARCHAR},
      SUPER_ID = #{superId,jdbcType=VARCHAR},
      STATEENDDATE = #{stateenddate,jdbcType=VARCHAR},
      STATEENDMONTH = #{stateendmonth,jdbcType=VARCHAR},
      SHARECREDITLIMITAMOUNT = #{sharecreditlimitamount,jdbcType=DECIMAL},
      USEDCREDITLIMITAMOUNT = #{usedcreditlimitamount,jdbcType=DECIMAL},
      LATEST6MONTHUSEDAVGAMOUNT = #{latest6monthusedavgamount,jdbcType=DECIMAL},
      USEDHIGHESTAMOUNT = #{usedhighestamount,jdbcType=DECIMAL},
      SCHEDULEDPAYMENTDATE = #{scheduledpaymentdate,jdbcType=VARCHAR},
      SCHEDULEDPAYMENTAMOUNT = #{scheduledpaymentamount,jdbcType=DECIMAL},
      ACTUALPAYMENTAMOUNT = #{actualpaymentamount,jdbcType=DECIMAL},
      RECENTPAYDATE = #{recentpaydate,jdbcType=VARCHAR},
      TIME_STAMP = #{timeStamp,jdbcType=DATE},
      OVERDUEOVER180AMOUNT = #{overdueover180amount,jdbcType=DECIMAL}
    where REPAYINFO_ID = #{repayinfoId,jdbcType=VARCHAR}
  </update>
</mapper>